@using ERPSoft.DATA.Models;
@model ERPSoft.DATA.Models.PedidoMaterial

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PedidoMaterial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Cod" name="Cod" value="@Model.Cod" hidden class="form-control" />
            <div class="form-group">
                <label asp-for="IdPedidoMproduto" class="control-label"></label>
                <select asp-for="IdPedidoMproduto" class="form-control">
                    <option value="">Selecione o Produto</option>
                    @if (ViewBag.Produtos != null)
                    {
                        @foreach (var produto in (ViewBag.Produtos as List<Produto>)) 
                        {
                            <option value="@produto.Id">@produto.Nome</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Ean" class="control-label"></label>
                <input asp-for="Ean" class="form-control" />
                <span asp-validation-for="Ean" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fabricante" class="control-label"></label>
                <input asp-for="Fabricante" class="form-control" />
                <span asp-validation-for="Fabricante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusMaterial" class="control-label"></label>
                <select asp-for="StatusMaterial" class="form-select" aria-label="Default select example">
                    <option value="Aguardando">Aguardando</option>
                    <option value="Conferencia">Conferência</option>
                    <option value="Concluida">Concluida</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Unidade" class="control-label"></label>
                <select asp-for="Unidade" class="form-select" aria-label="Default select example">
                    <option value="">Selecione a Unidade</option>
                    <option value="1">KG</option>
                    <option value="2">Litro</option>
                    <option value="3">UNIDADE</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Qtda" class="control-label"></label>
                <input asp-for="Qtda" class="form-control" />
                <span asp-validation-for="Qtda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
